/* #judul{
    color: red;
    font-size: 20px;
} */

#myId{
    color: blue;
    font-size: 30px;
}

p::first-line {
  color: blue;
  font-variant: small-caps;
  font-size: 19px;
}

::selection{
  color: red;
  font-size: 40px;
}

