a:link{
    color: red;
}

a:visited{
    color:green;
}

a:hover{
    color: darkblue;
    font-size: 20px;
}

a:active{
    color: orange;
    font-size: 25px;
}

p::first-line{
    color: purple;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p::first-letter{
    font-size: 50px;
}

p::selection{
    background: yellow;
    color: white;
}