 html{
    scroll-behavior: smooth;
 }
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #fafafa;
     color: #333;
 }

 header {
     background-color: #222;
     color: white;
     text-align: center;
     padding: 20px;
 }

 nav {
     background-color: #444;
     padding: 10px;
     text-align: center;
 }

 nav a {
     color: white;
     margin: 0 10px;
     text-decoration: none;
 }

 nav a:hover {
     text-decoration: underline;
 }


 main {
     padding: 20px;
 }

 section {
     background: white;
     padding: 15px;
     margin-bottom: 20px;
     border-radius: 8px;
     box-shadow: 0px 2px 5px grey;
 }


 section h2 {
     color: #0077cc;
 }

 .home-section img {
     max-width: 200px;
     display: block;
     margin: 0 auto;
 }

 .info-tambahan {
     background-color: #f0f0f0;
     padding: 15px;
     margin: 20px 0;
     border-left: 5px solid #0077cc;
 }
 p{
    text-align: justify;
 }

 details summary {
     cursor: pointer;
     font-weight: bold;
 }

 footer {
     background: #222;
     color: white;
     text-align: center;
     padding: 15px;
     margin-top: 20px;
 }