h1 {
    color: gray;
    text-align: center;
}

pre {
    background-color: rgb(108, 181, 255);
    text-align: center;
    width: 1000px;
    overflow-x: auto;
    margin: 20px auto;
}

img {
    display: block;
    border-radius: 12px;
    margin: 20px auto;
}

body {
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
}